.container {
    position: relative;
}
 
#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}
#controls {
    padding: 16px;
}

.control-label {
    margin: 8px;
}

.control-row {
    margin: 8px;
}